@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://fonts.googleapis.com/css?family=Exo");
body {
  padding: 0;
  margin: 0; }

header {
  width: 100%;
  height: 55px;
  background-color: #161c2c; }

/* design of the navigation bar  */
nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-top: 20px; }

nav h1 {
  font-family: 'Audiowide', cursive;
  font-size: 35px;
  color: #161c2c;
  padding: 0 24% 0 8%; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 45%; }

#first {
  background-color: #d1c792; }

nav ul a {
  text-decoration: none;
  color: #161c2c;
  font-family: sans-serif;
  font-size: 1.1em;
  padding: 0.5em 0.7em;
  border-radius: 10%;
  transition: all 0.5s ease; }

nav ul li a:hover {
  background-color: #d1c792;
  color: white; }

#hamburger-menu {
  display: none; }

/* == the slideshow == */
#slider-container {
  width: 100%;
  height: 600px;
  margin-top: 15px;
  position: relative;
  /* so we can position the images*/ }

#slider-container div {
  /* to make sure the img is adjusting to it's container size  */
  width: 100%;
  height: 600px;
  position: absolute;
  /* the images are set on top of each other*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#slider-container img {
  /* so that the image may resize accordingly with the device width*/
  width: 100%;
  max-width: 100%;
  max-height: 100%; }

.arrow {
  /* positioning the two control arrows*/
  width: 40px;
  height: 40px;
  position: absolute;
  top: 62%;
  z-index: 9999;
  cursor: pointer;
  margin-left: 4%; }

#right-arrow {
  margin-left: 94% !important; }

.quote {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 5%;
  color: white;
  font-size: 1.5em;
  font-family: 'Audiowide', cursive; }

/*==  the 5 divs with additional info  ==*/
#info-container {
  /* the container of the 5 divs, flex to assure the display:  */
  display: -moz-box;
  display: flex;
  height: 200px;
  width: 100%; }

.info-section {
  /* centering the content and style the 5 divs*/
  height: 100%;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  display: -moz-box;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  background-color: #161c2c;
  padding-top: 4%;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 22px;
  cursor: pointer;
  position: relative; }

.info-section p {
  width: auto;
  text-align: center; }

.info-section:nth-child(odd) {
  background-color: #d1c792; }

.tokens {
  /* image inside each of the 5 divs */
  width: 50px;
  height: 50px;
  transition: all 0.5s ease; }

.scale-tokens {
  /* putting the images inside a div so that we may apply two transition effects on two transforms */
  position: absolute;
  width: 50px;
  margin: 38% auto 0 auto; }

.info-section:hover .tokens {
  transform: translateY(-30px);
  transition: transform  0.5s ease; }

.info-section:hover .scale-tokens {
  transform: scale(1.3, 1.3);
  transition: transform  0.7s ease; }

/*== the mini about section ==*/
#mini-about {
  width: 100%;
  height: 400px; }

#mini-about h2 {
  width: 100%;
  text-align: center;
  margin: 8% auto 0 auto;
  font-size: 2em;
  color: #161c2c;
  font-family: 'Orbitron', sans-serif; }

#mini-about p:nth-child(2) {
  /* helping..*/
  width: 100%;
  text-align: center;
  margin: 1% auto 0 auto;
  color: grey;
  word-spacing: .2em;
  font-family: monospace;
  font-size: 14px; }

#mini-about p:nth-child(3) {
  /* presentation text*/
  width: 88%;
  margin: 4% auto 0 auto;
  text-indent: 35px;
  line-height: 1.7em;
  text-align: justify;
  font-size: 17px;
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

#mini-about a {
  /* find out more*/
  text-decoration: none;
  color: #161c2c;
  font-family: 'Orbitron', sans-serif;
  width: 12%;
  margin: 3% auto 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 0.5px solid grey;
  border-bottom: 0.5px solid grey; }

/* == the 3 courses section ==*/
#courses-section {
  /* the big container  */
  width: 100%;
  height: 450px;
  margin-top: -2%; }

#courses-section h3 {
  /* header */
  width: 30.5%;
  margin: 2% auto 0 auto;
  font-size: 22px;
  font-family: 'Orbitron', sans-serif;
  color: #161c2c;
  letter-spacing: 2px; }

#courses-wrapper {
  /* container of all 3 courses divs*/
  border: .1px solid #EBEFF0;
  width: 86%;
  margin: 5% auto 0 auto;
  display: flex; }

.allCourses {
  /*the 3 courses divs */
  width: 33.33%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-color .5s ease; }

.allCourses p {
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.allCourses:not(#coach-course) {
  border-right: 0.1px solid #EBEFF0; }

.allCourses:not(#player-course) {
  background-color: #EBEFF0; }

.allCourses:hover {
  background-color: white !important; }

/*== course details ==*/
#courses-details {
  /* divs container */
  width: 100%; }

#advanced-player-course-content, #coaches-course-content {
  /* show only the first one */
  display: none; }

.course-content-list {
  /* each div with course details*/
  width: 80%;
  margin: 3% auto 0 auto; }

.course-header {
  width: 100% !important;
  text-align: center; }

.course-content-list button {
  margin: 3% auto 0 auto;
  display: block;
  cursor: pointer;
  background-color: #161c2c;
  color: white;
  border: none;
  width: 30%;
  height: 45px;
  font-size: 19px;
  word-spacing: .1em;
  transition: all .3s ease; }

.course-content-list p {
  font-size: 17px;
  color: grey;
  font-family: 'Exo';
  text-indent: 50px;
  text-align: justify; }

.course-content-list a {
  text-decoration: none;
  outline: none; }

.course-content-list button:hover {
  background-color: #d1c792;
  color: black; }

/*== counter div section ==*/
#counter-section {
  /* main container of the 4 divs*/
  width: 90%;
  margin: 0 auto 2% auto;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.count {
  /* each of the 4 divs*/
  border: 1px solid lightgrey;
  height: 100%;
  width: 23%; }

.count p {
  text-align: center; }

.count p:first-child {
  /* the numbers*/
  font-size: 48px;
  color: grey;
  height: 20%; }

.count p:last-child {
  /* details about */
  width: 100%;
  color: grey; }

/* == bottom image cover  == */
#image-cover {
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0; }

#cover {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%; }

/* == the footer  == */
footer {
  width: 100%;
  height: 120px;
  background-color: #161c2c;
  color: white; }

#final-info {
  /*left section */
  width: 45%;
  height: 100%;
  float: left; }

#final-info p {
  font-family: 'Audiowide', cursive;
  font-size: 22px;
  padding: 2% 0 0 12%; }

#footer-list {
  /* right section with ul*/
  margin: 0;
  padding-top: 3%;
  padding-left: 9%;
  margin-left: 55%;
  list-style-type: none;
  display: flex;
  width: 29%; }

#footer-list li {
  /* border after each li*/
  border-right: 1px solid white;
  padding-right: 6px;
  padding-left: 6px; }

#footer-list li:last-child {
  border: none; }

#footer-list li a:hover {
  color: #d1c792; }

#footer-list li a {
  color: white;
  background-color: inherit;
  font-size: 16px;
  text-decoration: none;
  transition: color .7s; }

#social p {
  padding-left: 66%; }

#toTop {
  position: fixed;
  right: 1%;
  top: 90%;
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer;
  z-index: 1000; }

/* == media queries ==*/
@media all and (max-width: 1081px) {
  /*== navigation section ==*/
  nav h1 {
    font-size: 28px;
    width: 20%; }

  nav ul {
    width: 75%; }

  /* slider */
  .slide img {
    height: 100%; }

  .arrow {
    margin-top: 7%; }

  /* short info*/
  #mini-about h2 {
    width: 100%;
    text-align: center; }

  #mini-about p:nth-child(2) {
    width: 100%;
    text-align: center; }

  #mini-about a {
    width: 15%; }

  /* about the courses*/
  #courses-section h3 {
    width: 100%;
    text-align: center; } }
@media all and (max-width: 947px) {
  #mini-about a {
    width: 20%;
    text-align: center; } }
@media all and (max-width: 925px) {
  nav h1 {
    width: 0%;
    /* site name */ }

  .tokens {
    /* image inside colored divs  */
    padding-top: 95%; }

  #mini-about a {
    width: 20%; } }
@media all and (max-width: 800px) {
  #footer-list {
    margin-left: 50%; } }
@media all and (max-width: 854px) {
  .scale-tokens {
    margin-top: 45%; } }
@media all and (max-width: 740px) {
  nav h1 {
    padding: 0;
    padding-left: 2%;
    width: 18%; }

  .scale-tokens {
    margin-top: 55%; } }
@media all and (max-width: 713px) {
  #mini-about a {
    width: 24%; }

  #footer-list {
    margin-left: -45%; } }
@media all and (max-width: 703px) {
  header {
    width: auto; }

  .toMiddle {
    margin-top: -10%; } }
@media all and (max-width: 662px) {
  nav {
    height: 35px; }

  nav h1 {
    width: 32%;
    margin: 0;
    padding-left: 5%;
    padding-bottom: 1%; }

  nav ul {
    width: 70%;
    height: 260px;
    display: flex;
    flex-flow: column;
    background-color: #161c2c;
    box-sizing: border-box;
    z-index: 1000;
    position: relative;
    display: none;
    margin-top: 49%;
    margin-right: 5%; }

  nav ul li {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px; }

  nav ul a {
    color: white;
    width: 80%;
    padding-right: -30%;
    display: block; }

  #hamburger-menu {
    display: block;
    position: absolute;
    top: 13% !important;
    right: 16%; }

  #right-arrow {
    right: 3%; }

  #info-container {
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 45%; }

  .info-section {
    flex: 0 0 33.33%; }

  .scale-tokens {
    margin-top: 35%; } }
@media all and (max-width: 664px) {
  #hamburger-menu {
    top: 12%; } }
@media all and (max-width: 623px) {
  nav ul {
    margin-top: 54%; }

  #hamburger-menu {
    top: 12%; }

  nav {
    height: 45px; }

  #footer-list {
    padding-left: 0; }

  #social p {
    margin-right: 15%; } }
@media all and (max-width: 608px) {
  #mini-about a {
    width: 25%; }

  #courses-section h3 {
    margin-top: 9%; } }
@media all and (max-width: 585px) {
  #hamburger-menu {
    top: 14% !important; }

  nav ul {
    margin-top: 58%; }

  #mini-about a {
    width: 35%; }

  #courses-section {
    margin-top: -6%; }

  #courses-section h3 {
    margin-top: 15%; }

  .course-content-list {
    margin-top: -9%; }

  #counter-section {
    flex-flow: row wrap;
    margin-bottom: 30%; }

  .count {
    flex-basis: 45.55%; } }
@media all and (max-width: 535px) {
  nav ul {
    margin-top: 63%; }

  #mini-about {
    margin-bottom: 23%; } }
@media all and (max-width: 520px) {
  nav ul {
    margin-top: 65%; }

  #mini-about h2 {
    margin-top: 50%; }

  #courses-section {
    margin-top: 20%; }

  .course-content-list button {
    width: 50%; }

  footer {
    height: 160px;
    position: relative;
    margin-top: -5%; }

  #footer-list {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 15%;
    position: absolute; }

  #social p {
    position: absolute;
    top: 55%;
    left: 5%;
    width: 100%;
    padding: 0; }

  #toTop {
    margin-right: 7%; } }
@media all and (max-width: 475px) {
  nav ul {
    margin-top: 70%; }

  #mini-about h2 {
    margin-top: 60%; }

  #courses-section {
    margin-top: 25%; }

  #counter-section {
    margin-top: 10%;
    margin-bottom: 33%; } }
@media all and (max-width: 435px) {
  nav ul {
    margin-top: 77%; }

  #courses-section {
    margin-top: 35%; }

  #counter-section {
    margin-bottom: 37%; } }
@media all and (max-width: 409px) {
  nav ul {
    margin-top: 82%; }

  #mini-about a {
    width: 40%; }

  #info-container {
    margin-bottom: 115%; }

  .info-section {
    flex-basis: 50%; }

  #courses-section {
    margin-top: 45%; }

  .course-content-list button {
    height: 60px; }

  #counter-section {
    margin-top: 22%;
    margin-bottom: 42%; }

  #final-info p {
    width: 100%;
    padding: 0;
    padding-left: 10%; } }
@media all and (max-width: 379px) {
  nav ul {
    margin-top: 90%; }

  #mini-about {
    margin-top: 135%; }

  #courses-section {
    margin-top: 55%;
    margin-bottom: 35%; } }
@media all and (max-width: 358px) {
  #slider-container {
    margin-top: 7%;
    height: 315px; }

  #slider-container div {
    height: 315px; }

  #slider-container img {
    max-height: 100%;
    height: 100%; }

  .arrow {
    /* positioning the two control arrows*/
    width: 30px;
    height: 30px;
    top: 45%;
    margin-left: 4%; }

  #right-arrow {
    margin-left: 86% !important; }

  nav ul {
    margin-top: 98%; }

  #mini-about a {
    width: 55%; }

  #counter-section {
    margin-bottom: 44%; }

  /* footer section*/
  footer {
    height: 250px;
    width: 100%; }

  #final-info {
    float: none;
    width: 100%;
    margin: 0; }

  #final-info p {
    margin: 0;
    padding-top: 7%; }

  #footer-list {
    margin-top: -170px;
    margin-left: 0;
    padding: 0;
    width: 100%;
    height: 180px;
    display: flex; }

  #footer-list li a {
    color: white; }

  #footer-list li {
    height: 18px;
    width: 20%;
    text-align: center; }

  #social p {
    margin: 0;
    padding: 0;
    margin-top: 5%;
    padding-left: 5%; }

  #toTop {
    margin-top: -7%;
    margin-right: 10%; } }
@media all and (max-width: 332px) {
  nav ul {
    margin-top: 105%; }

  #courses-section {
    margin-top: 75%; }

  #counter-section {
    margin-top: 50%;
    margin-bottom: 50%; }

  /*== the 5 divs with additional info == */
  #info-container {
    flex-flow: column nowrap;
    height: 150px;
    margin-top: 33%;
    margin-bottom: -85%; }

  .scale-tokens {
    display: none; }

  .info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; } }
@media all and (max-width: 320px) {
  header {
    height: 40px;
    width: 100%; }

  nav {
    padding-top: 0px;
    display: block;
    height: 60px; }

  nav h1 {
    margin: 0;
    padding-top: 12px;
    font-size: 25px;
    width: 60%; }

  /* == the drop-down menu ==*/
  #hamburger-menu {
    display: block;
    position: absolute;
    top: 10% !important;
    right: 5%; }

  nav ul {
    width: 100%;
    height: 260px;
    display: flex;
    flex-flow: column;
    background-color: #161c2c;
    box-sizing: border-box;
    z-index: 1000;
    position: relative;
    display: none;
    margin-top: 3%; }

  nav ul li {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px; }

  nav ul a {
    color: white;
    width: 80%;
    padding-right: -30%;
    display: block; }

  nav ul li:hover a {
    background-color: #d1c792; }

  /*== the image slider ==*/
  #slider-container {
    margin-top: 0;
    height: 315px; }

  #slider-container div {
    height: 315px; }

  #slider-container img {
    max-height: 100%;
    height: 100%; }

  .arrow {
    /* positioning the two control arrows*/
    width: 30px;
    height: 30px;
    top: 37%;
    margin-left: 4%; }

  #right-arrow {
    margin-left: 86% !important; }

  .quote {
    font-size: 0.9em; }

  /*== the 5 divs with additional info == */
  #info-container {
    flex-flow: column nowrap;
    height: 150px;
    margin-top: 35%;
    margin-bottom: -85%; }

  .scale-tokens {
    display: none; }

  .info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; }

  /*== the mini about section ==*/
  #mini-about h2 {
    /* welcome to.. */
    width: 100%;
    font-size: 1em;
    text-align: center;
    margin-top: 4%; }

  #mini-about p:nth-child(2) {
    /* helping create..*/
    width: 60%;
    font-size: 12px; }

  #mini-about a {
    margin-top: 7%;
    width: 55%; }

  /*== 3 divs with course options  == */
  #courses-section {
    /* main container */
    margin-top: 65%;
    margin-bottom: 65%; }

  #courses-section > h3 {
    /* featured rugby courses.. */
    width: 100%;
    font-size: 18px;
    text-align: center; }

  .allCourses {
    /* align the text in the 3 divs*/
    text-align: center; }

  .course-content-list {
    /* setting the width of the headers*/
    width: 95%; }

  .course-content-list h3 {
    width: 100% !important;
    text-align: center !important; }

  #advanced-player-course-content h3 {
    width: 100% !important; }

  #coaches-course-content h3 {
    width: 100% !important; }

  .course-content-list button {
    width: 80%; }

  /*== the counter divs section  ==*/
  #counter-section {
    /*main container*/
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 55%;
    margin-bottom: 25%; }

  .count {
    /*each of the divs*/
    width: 90%;
    height: 50%; }

  .count p:first-child {
    font-size: 20px; }

  .toMiddle {
    height: auto;
    margin-top: 0%; }

  #image-cover {
    margin-top: 28%;
    height: 150px; }

  /* footer section*/
  footer {
    height: 250px;
    width: 100%; }

  #final-info {
    float: none;
    width: 100%;
    margin: 0; }

  #final-info p {
    margin: 0;
    padding-top: 7%; }

  #footer-list {
    margin-top: -170px;
    margin-left: 0;
    padding: 0;
    width: 100%;
    height: 180px;
    display: flex; }

  #footer-list li a {
    color: white; }

  #footer-list li {
    height: 18px;
    width: 20%;
    text-align: center; }

  #social p {
    margin: 0;
    padding: 0;
    margin-top: 5%;
    padding-left: 5%; }

  #toTop {
    margin-top: -2%;
    margin-right: 10%; } }
#main-container {
  width: 95%;
  margin: 4% auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap; }
  #main-container #form-container, #main-container #adress-container {
    flex-basis: 50%;
    padding-left: 6%;
    box-sizing: border-box; }
  #main-container #adress-container h2 {
    margin: 0;
    padding: 0;
    color: #161c2c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
  #main-container #adress-container p {
    font-size: 18px;
    font-family: sans-serif; }
  #main-container #contact-form {
    display: flex;
    flex-flow: column wrap; }
    #main-container #contact-form input, #main-container #contact-form textarea {
      width: 75%;
      text-indent: 15px; }
    #main-container #contact-form input {
      height: 45px;
      margin-bottom: 32px; }
    #main-container #contact-form textarea {
      margin-bottom: 32px;
      resize: none;
      padding-top: 10px; }
    #main-container #contact-form button {
      width: 25%;
      height: 35px;
      margin-left: 25%;
      font-size: 15px;
      font-family: 'Orbitron', sans-serif;
      letter-spacing: .1em;
      color: white;
      background-color: #d1c792;
      border: none;
      cursor: pointer;
      outline: none;
      box-shadow: 5px 5px 2px 0 grey;
      transition: background-color .4s ease; }
      #main-container #contact-form button:hover {
        background-color: #161c2c; }
      #main-container #contact-form button:active {
        box-shadow: 10px 10px 10px; }
    #main-container #contact-form .error {
      display: block; }
    #main-container #contact-form p {
      padding: 0;
      margin: 0;
      margin-top: -25px;
      padding-bottom: 10px;
      padding-left: 15px;
      box-sizing: border-box;
      font-size: 14px;
      color: red;
      display: none; }

#message {
  background-color: #d1c792;
  position: absolute;
  top: 38%;
  left: 40%;
  width: 20%;
  height: 100px;
  border-radius: 10px;
  display: none; }
  #message p {
    text-align: center;
    font-size: 15px;
    font-family: sans-serif; }
  #message img {
    display: block;
    margin: 0 auto; }

/*== media queries ==*/
@media all and (max-width: 661px) {
  #hamburger-menu {
    margin-top: -1%; }

  nav ul {
    margin-top: 350px;
    margin-right: 0; }

  #main-container {
    margin-top: 40px; }

  #form-container #contact-form > button {
    width: 40%;
    margin-left: 18%; } }
@media all and (max-width: 533px) {
  #form-container #contact-form > input {
    width: 85%;
    margin-left: 15px; }

  #form-container #contact-form > textarea {
    width: 85%;
    margin-left: 15px; }

  #form-container #contact-form > button {
    width: 55%;
    margin-left: 22%; }

  #main-container {
    margin-bottom: 15%; } }
@media all and (max-width: 450px) {
  #main-container {
    flex-flow: row wrap; }
    #main-container #form-container, #main-container #adress-container {
      flex-basis: 75%; }
    #main-container #adress-container {
      margin-top: 35px; } }
@media all and (max-width: 320px) {
  nav ul {
    margin-top: 10px; } }
#wrapper {
  width: 100%;
  margin: 2% 0;
  box-sizing: border-box;
  position: relative; }

#diagram {
  width: 70%;
  margin: 0 auto; }
  #diagram img {
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block; }
  #diagram p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 50;
    text-indent: 20px;
    text-align: justify; }

h2 {
  background: #161c2c;
  color: white;
  height: 50px;
  line-height: 50px;
  padding-left: 15%;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

#roles-container {
  margin: 2% auto;
  width: 80%; }

#about-role-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap; }

.role-line {
  display: flex;
  justify-content: space-between;
  flex-basis: 97%;
  margin: 0 auto 20px auto; }

.player-role {
  flex-basis: 32%;
  background: #161c2c;
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer; }
  .player-role > * {
    padding-left: 5px; }
  .player-role h5 {
    font-size: 17px;
    padding-left: 20px;
    transition: padding .5s ease; }
  .player-role p {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.3em;
    text-indent: 10px;
    text-align: left; }
  .player-role:hover h5 {
    padding-left: 25px; }

#accordion {
  display: none; }

/*==media queries ==*/
@media all and (max-width: 750px) {
  #diagram {
    width: 90%; }

  .role-line {
    flex-flow: row wrap;
    margin-bottom: 0px; }

  .player-role {
    flex-basis: 95%;
    margin-bottom: 15px; } }
@media all and (max-width: 661px) {
  #hamburger-menu {
    margin-top: 10px; }

  #wrapper {
    margin-top: 8%; }

  nav h1 {
    margin-top: 15px; }

  #diagram {
    width: 100%;
    padding: 0 10px 0 10px; } }
@media all and (max-width: 540px) {
  #diagram img {
    width: 100%; } }
@media all and (max-width: 450px) {
  .player-role {
    display: none; }

  #wrapper {
    margin-bottom: 5%; }

  #accordion {
    display: block; }

  #accordion h2 {
    font-size: 18px;
    cursor: pointer;
    border-bottom: .5px solid white;
    position: relative; }

  #accordion p {
    display: none;
    margin: 0;
    padding: 6px;
    text-align: justify;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: 10px;
    line-height: 1.3em; } }

/*# sourceMappingURL=roles-style.css.map */
