@import "contact-style";
 
 $site-blue: #161c2c;
 $site-cream: #d1c792;


main{
    width: 100%;
    position: relative;
}
#timeline-container{
    width: 95%;
    height: 100%;
    padding-left: 43%;
    margin: 3% auto;
    box-sizing: border-box;
    ul{
        margin: 0 auto;
        height: 100%;
        position: relative;
        list-style: none;
    }
     ul::before{                         /* the timeline LINE*/
         content: "";
         width: 0px;
         border: 1px dashed #aaa;
         height: 100%;
         position: absolute;
         top: 0;       
     }
    li{                                     /* box containing the event and year */
        margin: 8% 9%;
        box-sizing: border-box;
        border: 1px solid $site-blue;
        border-radius: 10px;
        width: 55%;
        padding-left: 5%;
        position: relative;
        background: $site-blue;
        cursor: pointer;
    }
    li:not(span){
        color: white;
    }
    li:nth-child(even){
        margin-left: -63%;
        padding-left: 5%;
        background: $site-cream;
        border: 1px solid $site-cream;
        color: black;
    }
    li::before{                             /* event specific bubble*/
         content: "";
         width: 15px;
         border: 2px solid #aaa;
         height: 15px;
         position: absolute;
         top: 55%;     
         left: -19%;
         border-radius: 50%;
         background: $site-blue;
    }
    li:nth-child(even)::before{
        left: 112.4%;
        top: 55%;
        background: $site-cream;
    }
    li span{                            /* the year */
        font-size: 25px;
        font-family: sans-serif;
         position: absolute;
         top: -9%;     
         left: -24%;
         background: white;
         color: black;
         padding: 5px 0;
    }
   li:nth-child(even) span{
       left: 108%;
       top: -9%;
   } 
   
   li h3{
    margin-top: 15px;
    padding-left: 15%;   
}
 li p{
     padding-right: 5%;
     line-height: 1.2em;
     font-size: 17px;
 }
.hidden{
    display: none;
}

 li div::after{                  /* the arrows */
  bottom: 14%;
  left: 0%;
  content: "";
  border: solid transparent;
  height: 0px;
  width: 0;
  position: absolute;
  transform: rotate(270deg);
   }
 li div::after{
	border-bottom-color: $site-cream;
	border-width: 25px;
    margin-left: -14%;
}
li:nth-child(even) div::after{
    left: 114%;
    border-bottom-color: $site-blue;
    transform: rotate(90deg);
}

}


#time-overlay{                     /*grey overlay*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    position: fixed;
    opacity: .1;
    display: none;
}
#time-modal{             /* modal */
    position: fixed;
    top: 15%;
    margin-left: 33%;
    width: 35%;
    height: 70%;
    border: 2px solid $site-blue;
    z-index: 10;
    border-radius: 10px;
    display: none;
    #modal-header{
        display: flex;
        span{                  /* year */
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $site-blue;
            border-top-left-radius: 8px;
            color: white;
            font-size: 22px;
            font-family: sans-serif;
        }
        h3{                             /* title in modal */
           flex: 4;
           background: $site-cream;
           color: black;
           min-height: 100%;
           text-align: center;
           padding: 5% 0;
           margin: 0;
           font-size: 24px;
           font-family: sans-serif;
        }
    }
    p{                           /* content of modal */
        background: white;
        line-height: 1.3em;
        height: 73.5%;
        border-bottom-left-radius: 8px; 
        border-bottom-right-radius: 7px; 
        margin-top: 0;
        padding: 5%;
        text-align: justify;
        text-indent: 25px;
        font-size: 18px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
      img{                 /* close button */
          width: 45px;
          height: 45px;
          position: absolute;
          left: 98%;
          top: -6%;
          cursor: pointer;
      }
}


   /*==media queries ==*/

   @media all and (max-width: 1081px){

       #timeline-container{

           li{
               width: 75%;
               margin-left: 19%;
           }
           li span{
               margin-left: -8%;
           }
           li::before{
               margin-left: -9%;
           }
           li:nth-child(even){
               left: -35%;
            } 
            li:nth-child(even) span{
               left: 132%;
            }   
            li:nth-child(even)::before{
               left: 138%; 
            }
           li div::after{ 
              left: 1%;
           }       
       }   
   }

     @media all and (max-width: 1024px){

       #timeline-container{
 
           li div::after{ 
              left: 0%;
           }      
       }

       #time-modal{  
           height: 80%;
           width: 45%;
         p{
             height: 73%;
            
         }  
     }  
     }
     @media all and (max-width: 950px){

       #timeline-container{
 
           li div::after{ 
              left: -1%;
           }      
       }
             #time-modal{  
          
         p{
             height: 75%;  
         }  
     } 
     } 

     @media all and (max-width: 900px){
         
         #timeline-container{
 
           li div::after{ 
              left: -2%;
           }      
       }
     }    

   @media all and (max-width: 850px){
         
         #timeline-container{
 
           li div::after{ 
              left: -3%;
           }      
       }
           #time-modal{  
          
         p{
             height: 77%;  
         }  
     }      
   } 

   @media all and (max-width: 835px){
        
         #time-modal{  
            top: 10%;
            left: 0%;
         p{
             height: 77%;  
         }  
     } 
     #timeline-container{
 
           li div::after{ 
              left: -4%;
           }      
       }  
   }

   @media all and (max-width: 760px){
      
      #timeline-container{
 
           li div::after{ 
              left: -5%;
              top: 42%;
           } 
           li span{
               margin-left: -12%;
           }     
       }  
       #time-modal{  
        
         p{
             height: 79%;  
         }  
     } 
   } 

   @media all and (max-width: 730px){
      
      #time-modal{  
        height: 82%;
        width: 60%;
        left: -14%;
         p{
             height: 75%;  
         }  
     }  
   } 

   @media all and (max-width: 690px){
      
        #timeline-container{
 
           li div::after{ 
              left: -7%;
           }
         li::before{
               margin-left: -10%;
           }        
       }
        #time-modal{  
         p{
             height: 76%;  
         }  
     }    
   }

 @media all and (max-width: 661px){
     
         #timeline-container{
 
           li div::after{ 
              left: -9%;
           }
        }
         #time-modal{  
         p{
             height: 77%;  
         }  
     } 
    #hamburger-menu{
        margin-top: -195px;
    } 
    nav ul{
         margin-top: 300px;
     }    
 }

   @media all and (max-width: 640px){

        #timeline-container{
 
           li div::after{ 
              left: -9%;
           }
        }
        #time-modal{  
         p{
             height: 78%;  
         }  
     }
     
   }

   @media all and (max-width: 600px){

       #timeline-container{
 
           li div::after{ 
              left: -11%;
           }
        }
          #time-modal{  
         p{
             height: 79%;  
         }  
     }
     nav ul{
         margin-top: 320px;
     }
   }

   @media all and (max-width: 584px){

       #hamburger-menu{
           margin-top: -230px;
       }
       #timeline-container{
        margin-top: 15%;
           li{
               width: 130%;
               margin-left: -99%;
           }
           li::before{ 
              left: 135%;
           } 
           li:nth-child(even)::before{
               left: 134.5%;
           }
           li span{
               left: 132%;
           }
           li:nth-child(even) span{
               margin-left: -12%;
           }
           ul::before{    
              left: 71%;
           }   
       }    
   }