@import "contact-style";

$site-blue: #161c2c;

@mixin overlay($color){
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .6;
    background: $color;
}

#fan-container{
    width: 100%;
    height: 100vh;
    margin-top: 2%;
    background-image: url(images/fan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;

     #rivalries{
         flex-basis: 35%;
         position: relative;
            
           ul{
                 position: relative;
                 z-index: 10;
                 color: white;
                 list-style: none;
                 margin: 24% 0 0 0 ;
                 padding: 0;
                 box-sizing: border-box;
                   
                   li{
                         padding: 0;
                         margin: 0; 
                         margin-left: 35%;
                         margin-bottom: 10%;
                         font-size: 20px;
                         font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                         cursor: pointer;
                         transition: font-size .4s ease;
                         box-sizing: border-box;
                         width: 60%;
                         line-height: 26px;
                          &:hover{
                                font-size: 26px;
                          }
                   }
           } 
         .riv-overlay{
               @include overlay(black);
          
              &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 87%;
                transform: translateX(20%) skew(7deg);
                width: 20%;
                height: 100%;
                background: black;
 
              }
           }
     } 
     #riv-description{
        // border: 1px solid red;
         flex-basis: 45%;
         position: relative;
         top: 15%;
         right: 2%;
         height: 70vh;
           
           p{
              position: relative;
              z-index: 10;
              color: white;
           }

          .riv-overlay{
               @include overlay($site-blue);
                  &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -10%;
                    transform: translateX(20%) skew(7deg);
                    width: 14%;
                    height: 100%;
                    background:$site-blue;
              } 
           }  
     }
} 